body{
    background-image: url("/resources/images/charred-corn-salsa-with-steak.jpg");
}

div.main-container {
    background-color: #dodgerblue;
    position: absolute;
    left: 0;
    top: 0;
}

div.loginbox {
    background-color: dodgerblue;
    color: white;
    min-width: 300px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    margin: 5px;
    height: 150px;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    vertical-align: center;
}

a.login-button{
    height: 20px;
    background-color: #666666;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

div.loginbox ul{
    list-style-type: none;
}

div.loginbox ul li{
    margin-top: 10px;
    width: 100px;
}

div.loginbox ul li h2{
    margin-top: 0;
    margin-bottom: 0;
}

.span-content{
    position: relative;
}

#items-popup{
    position: absolute;
    display: none;
    left: 120px;
    top: 100px;
    width: 640px;
    height: 640px;
    background-image: url("/resources/images/menu-background.png");
    border: 1px solid;
}

#items-container{
    display: none;
    overflow-y: scroll;
    height: 600px;
}

#items-container ul{
    padding: 15px;
    border: 1px solid white;
    list-style-type: none;
    margin: 10px;
}

#items-container ul li{
    padding: 5px;
    border-bottom: 2px solid white;
    font-weight: bold;
    color: white;
    background-color: green;
    opacity: 0.6;
}

#items-container ul li p{
    padding: 0px;
    margin: 0px;
}

ul.options li.option-item{
    cursor: pointer;
}

a.close, .standard-button{
    cursor: pointer;
}

div#item-new{
    display: none;
}